:root {
  --app-font-family: "Inconsolata", sans-serif;
  --app-text-color: rgb(228, 228, 228);
  --app-background-color: #1b1b1b;
  --app-header-footer-background-color: #004a77;
  --app-nav-background-color: #37393b;
  --app-nav-hover-background-color: #54575a;
  --app-link-color: #83c6f0;
  --calc-btn-color: #ff9f0a;
  --calc-btn-color-active: #9f6207;
  --calc-input-color: #333333;
  --calc-output-color: #a5a5a5;
}
